*{
    margin: 0;
    padding: 0;
}

.canvas_div{
    display: grid;
}


@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 53.8%,
    rgba(252, 221, 221, 1) 92%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.music-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 20px 20px 20px 0 rgba(252, 169, 169, .5);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}
.quotes{
    margin: 2rem auto ;
    width: 80%;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform:  rotate(360deg);
    }
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: #fff;
    border: 0;
    color: #d87fd8;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
  }
  
  .action-btn.action-btn-big {
    color: #d87fd8;
    font-size: 30px;
  }
  
  .action-btn:focus {
    outline: 0;
  }

  .music-info {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    color: #ff48ff;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
  }
  
  .music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
  }
  
  .progress-container{
    border-radius: 5px;
    cursor: pointer;
}

.progress{
    position: static;
    padding: 5px 0;
    /* margin-top: 330px; */
      background-color: #fe8daa;
      border-radius: 5px;
      /* height: 90%; */
      transition: width 0.1s linear;
  }
  
  .tags{
    width: 100%;
    height: 15vh;
    display: flex;
    position: relative;
    
  }

  .tags > div{
    position: relative;
    font-weight: bold;
    font-size: 11.5px;
    color: white;
  }

  .tag1 , .tag2 , .tag3 , .tag4, .tag5 , .tag6{
    /* background-color: rgba(127, 245, 17, 0.815); */
    width: 8rem;
    height: 20vh;
    left: 5%;
    text-align: center;
    align-items: center;
  }
  .tag1{
    width: 8rem;
    height: 20vh;
    margin-top: 10vh;
    left: 5%;
    text-align: center;
    align-items: center;
  }
  .tag2{
    left: 10%;
    margin-top: 6vh;
  }
  .tag2 > .part2{
    width: 2%;
    align-items: center;
    margin: 0 auto;
    height: 71%;
  }
  .tag3{
    left: 50%;
    margin-top: 2vh;
  }
  .tag3 > .part2{
    width: 2%;
    align-items: center;
    margin: 0 auto;
    min-height: 19.5vh;
  }
   .tag4{
    left: 45%;
    width: 8rem;
    height: 18.5vh;
    margin-top: 10vh;
    text-align: center;
    align-items: center;
  }

  .tag5{
    left: 35%;
    width: 8rem;
    height: 19vh;
    margin-top: 6vh;
    text-align: center;
    align-items: center;
  }
  .tag4 > .part1{
    display: inline-block;
    width: 3rem;
  }
  .tag5 > .part2{
    width: 2%;
    align-items: center;
    margin: 0 auto;
    min-height: 13vh;
  }
  .tag5 > .part1{
    display: inline-block;
    right: 68%;
    width: 9.5rem;
    position: relative;
    text-align: center;
  }
  .tag6{
    left: 25%;
  }
  .tag6 > .part1{
    display: inline-block;
    right: 68%;
    width: 9.5rem;
    position: relative;
    text-align: center;
  }
  .tag6 > .part2{
    min-height: 19vh;
  }

  .part1{
    width: 70%;
    align-items: center;
    margin: 0 auto;
  }
  .part2{
    width: 2%;
    align-items: center;
    margin: 0 auto;
    height: 50%;
  }
  .part3{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
  .tag1 > div{
    background-color: rgb(79, 219, 79);
  }
  .tag2 div , .tag3 div{
    background-color: rgb(52, 206, 233);
  }
  .tag4 > div{
    background-color: rgb(18, 30, 131);
  }
  .tag5 > div{
    background-color: rgb(114, 94, 76);
  }
  .tag6 > div{
    background-color: rgb(56, 110, 35);
  }